/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body{
    background: white /*url(images/signup3.jpg)*/;
}
.main_wrapper{
    height: auto;
    margin: auto;
    width: 100%; 

}
.child{
  
    height:  auto;
    margin: 100px auto;
    width: 500px;
    background: white;
}
h1{
    transform: translate(0%,100%);
    text-align: center;
    color: black ;
}
#error{
    transform: translate(0%,100%);
    text-align: center;
    margin: 15px;
    color: red;
}
.formstyle{
    display: block;
}
.formmembers{
    margin: auto;
    padding: 5px;
    
}
.formmembers li{
    margin: auto;
    padding: 10px;
    display: block;
    list-style: none;
    transform: translate(5%,85%);
    
}
.formmembers input[type=text],
input[type=email],
input[type=password]{
    width: 400px;
    padding: 10px;
    border: solid black 2px; 
    border-radius: 5px;
    
}
.formmembers input, label{
    display: block;
}
.formmembers label{
    font-size: 14px;
    font-family: cambria;
    color:black;
    
}
#checkbox{
    margin: 10px;
    padding: 10px;
    transform: translate(35%,35%);
}
#checkbox input,label{
    margin-top: 20px;
    margin-bottom: 10px;
    display: inline;
    
}
#chechbox label{

    color: white;
}


#submit_btn{
    text-align: center;
    margin: auto;
    
}
#submit_btn input{
    
    background:  #005DA6;
    color: white;
    border: none;
    padding: 5px;
    margin-bottom: 2px;
    font-size: 16px;
}
#submit_btn input:hover{
    background: darkblue ;
}
