
    body
    {
        font-family: 'Poppins', sans-serif;
        

    }

    p
    {
        font-family: 'Poppins', sans-serif;
        font-size:1.1em;
        font-weight: 300;
        line-height: 1.7em;
        color: black;
    }

 /*------------my account sidebar-----------------------*/
  #sidebar a, 
    a:hover,
    a:focus
    {
        color: inherit;
        text-decoration: none;
        transition: all 0.3s;
    }
#sidebar li
{
    list-style: none;
    margin-left: -30px;
    padding-bottom: 20px;

}

 #sidebar
    {
        min-width: 150px;
        max-width: 150px;

        background-color: black;
        color: white;
        transition: all 0.3s; 
    }

#sidebar .active
    {
        margin-left: -200px;
    }

    #sidebar .sidebar-header
    {
        padding: 10px;

    }



    #sidebar ul li a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
    }

    #sidebar ul li a:hover {
        color: #7386D5;
        background: #fff;
    }
    
    .sidebar-header
    {
         margin-top: 20px;
        margin-bottom: 100px;
    } 


/*---------------PRODUCT BOX------------------------*/



    #product_box
    {
       
        text-align: center;


    }

    #single_product
    {
        float: left;
        padding-bottom : 30px;
        padding-left: 60px;


    }
    #single_product img
    {
        border: 2px solid black;

    }

    #products
    {
        
        margin: 10px 0px 20px 0px;
        text-decoration: underline;
    }

    #contents {
        width: 100%;

        min-height: 100vh;
        transition: all 0.3s;

    }

    #shopping_cart
    {
        width: 100%;
        background: black;
        color: white;
        float: right;
    }
   
/*------------------------NAV BAR--------------------------------*/

.navbar
    {
        padding: 0px 10px;
        position: sticky;
        background: #fff;
        margin-bottom: 0px;
        border-bottom: 2px solid grey;
        z-index: 2;

    }

    .navbar btn
    {
        box-shadow: none;
        outline: none !important;
        border: none;

    }

    .navbar-brand
    {
         padding-right: 50px;
    }

    .nav-link
    {
        font-weight: bold;
        color: black;
        font-family: 'Poppins' sans-serif;


    }

    .nav-item
    {
        padding-right: 50px;

    }
   
    .wrapper
    {

        width: 100%;
        display: flex;
        align-items: stretch;
        min-height: 100vh;

    }



.search-box .form-control /* input search box*/
{
    margin-top: 10px;
    margin-left: 22%;
    border:1px solid grey !important;
   /*border-top-left-radius: 20px   !important;
    border-bottom-left-radius: 20px !important;*/
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    box-shadow: none;
    width:50%;

}

.input-group-text /* magnifying icon */
{
    background-color: grey !important ; 
    border: 1px solid grey;
    margin:10px 10px 0px 0px;
    border-top-left-radius: 0px  !important;
    border-top-right-radius: 20 !important;
    border-bottom-left-radius-left: 0px !important;
   /* border-bottom-right-radius: 20px !important;*/
    cursor: pointer;
    
}

.search-box
{
   
    display: inline-flex;
    width: 100%;


}

.fa-search
{

    color: white;
}


.login
{
    
    height: 30px;
    width: 100%;
    background-color: grey;
    
}


.login .btn 
{
    float: right !important;
    border:1px solid grey !important;
    height: 15px;
    color:white;
    background-color: grey;
    font-size: 15px;
  
}

.login .btn-primary
{
    background-color: grey;
}

#shopping_cart
{
    margin-bottom: 0px;
}

/*-------------------dropdown menu--------------------------*/
.active
{
    display: none;

}


.activew
{
    display: none;
}

.dropdown-menu a
{
    cursor: pointer;
   
}
 
/*.dropdown-menu ul
{
    display: block;
}
*/

.dropdown-menu ul li
{
    list-style: none;
    font-size: 90%;

   /* position: relative;
    left: -10rem;
    top: 0;
*/

}
.dropdown-menu ul li a
{
    
    color: black;
    text-decoration: none;
    
}
.dropdown-menu ul li a:hover
{
    
    color: grey;
    font-size: 110%;
}
/*------------------------- CAROUSEL slider css----------------------*/

#slider
{
   width: 99%;
   
   margin: 50px 5px 10px 5px;
    
   
}

.carousel-item img
{
   height: 100vh;
    width: 100%;
}

.carousel
{
    box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.5);
}
.carousel-indicators
{
    z-index: 1 !important;
}
/*------FEATURED CATEGORIES CSS------*/
.title-box
{
    background-color: black;
    color: #fff;
    width: 180px;
    padding: 4px 10px;
    height: 40px;
    margin-bottom: 30px;
    display: flex;
    margin-top: 50px;
}

.title-box h2
{
    font-size: 24px;
}

.title-box::after
{
    content: '';
    border-top:40px solid black;
    border-right: 50px solid transparent;
    position: absolute;
    display: flex;
    margin-top: -4px;
    margin-left: 170px;

}



.feautured-categories
{
    margin: 50px 0;
    width: 100%;
}

.featured-categories img
{
    width: 100%;
    margin-bottom: 0px;
    padding: 40px 20px;
    transition: 1s;
    cursor: pointer;
} 
/*.featured-categories img:hover
{
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) );
   -webkit-background-size: cover;
  -moz-background-size:  cover;
  -o-background-size: cover;
  background-size: cover;
} 
*/
/*--------------On Sale products-----------*/

.onsale-title-box
{
    background-color: black;
    color: #fff;
    width: 180px;
    padding: 4px 10px;
    height: 40px;
    margin-bottom: 30px;
    display: flex;
    margin-top: -100px;
}

.onsale-title-box h2
{
    font-size: 24px;
}

.onsale-title-box::after
{
    content: '';
    border-top:40px solid black;
    border-right: 50px solid transparent;
    position: absolute;
    display: flex;
    margin-top: -4px;
    margin-left: 170px;

}

/*-------------product-top css-------------*/
.overlay-right
{
    display: block;
    opacity: 0;
    position: absolute;
    top: 10%;
    margin-left: 0;
    width: 70px;


}


.overlay-right fa
{
    cursor: pointer;
    background-color: #fff;
    color: #000;
    height: 35px;
    font-size: 20px;
    padding:7px;
    margin-top: 5%;
    margin-bottom: 5%;

}

.overlay-right .btn-secondary
{
    background-color: white !important;
    border: none !important;
    box-shadow: none !important; 
    color: black !important; 
}

.product-top:hover .overlay-right
{
    opacity: 1;
    margin-left: 5%;
    transition: 0.5s;

}

/*-----------PRODUCT-BOTTOM CSS---------------*/

.product-bottom .fa
{
    color: orange;
    font-size: 10px;
}

.product-bottom h3
{   
    font-size: 20px;
    font-weight: bold;
}

.product-bottom h5
{
    font-size: 15px;
    padding-bottom: 10px;
}


.overlay-left
{
    display: block;
    opacity: 0;
    position: absolute;
    top: 10%;
    margin-left: 0;
    width: 200px;
    height: 100px;
    
    color: white;
}
.promen:hover .overlay-left
{
    opacity: 1;
    top: 30%;
    margin-left:10px; ;
    transition: 0.5s;
    font-size: 250%;


}
